<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--同步EBS主数据Token 运营协同-->
		<add key="EBSHttpKey" value="9890asd8f23ji43897dfs7" />
		<add key="EBSHttpKeyTest" value="123test" />
		<add key="EBSSysCode" value="yyxt"/>
		<!--同步EBS主数据Token CRM-->
		<!--<add key="EBSHttpKey" value="sa065tajs#XTh2aZKgfg2G41pfvN9Z0" />-->
		<!--<add key="EBSSysCode" value="crm"/>-->
		<!--同步质量系统主数据测试环境接口地址-->
		<add key="SyncUrl" value="http://timesgroup.ricent.com/api/v2/" />
		<!--同步EBS主数据正式环境接口地址-->
		<!--<add key="EbsSyncUrl" value="http://times-dpcext.timesgroup.cn:8183/" />-->
		<!--同步EBS主数据测试环境接口地址-->
		<add key="EbsSyncUrl" value="http://times-dpctest.timesgroup.cn:6001" />
		<!--同步日志文件生成地址-->
		<add key="LogPath" value="D:\\QualitySyncLog" />

	</appSettings>
</configuration>